@page "/dotnetinjs"

<h2>Call DotNet from JavaScript</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <h4>Calling static method form JS</h4>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" onclick="jsFunctions.calculateSquareRoot()">Calculate</button>
    </div>
    <div class="col-md-4">
        <span id="string-result" class="form-text"></span>
    </div>
</div>